.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 24px;
  padding: 24px;
}

.container > * {
  width: 300px;
  text-align: center;
}

.container > h2 {
  font-size: x-large;
  font-weight: bold;
}

.container > p {
  font-size: x-large;
}

.container > hr {
  grid-column-start: span 2;
  justify-self: stretch;
  width: 100%;
}
