.border {
  border-radius: 5px;
  box-shadow: black 0 0 3px;
}

.product {
  composes: border;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 24px;
  height: 425px;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 5px;
}

.product > h2 {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.img {
  composes: border;
  background-color: white;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
}

.star {
  color: rgb(210, 178, 0);
}
