.header {
  display: flex;
  flex-direction: row;
  background-color: #9333ea;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  padding: 0 32px;
}

.cart {
  height: 2em;
}

.logo {
  margin-right: auto;
  height: 100%;
}
