:root {
  background-color: #e9d5ff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body,
h2,
p {
  margin: 0;
}

h2 {
  font-size: 1.1em;
  font-weight: normal;
}

img {
  max-height: 100%;
  object-fit: contain;
}
